
<div class="tabs-navbar-main">
  <mat-tab-group>
    <mat-tab label="All">
      <todo-tab *ngFor="let todo of todos | todos"
        [todo]="todo"
        [noTodosFound]="(todos | todos)?.length === 0"
        [noTodosCaption]="'No todos'"
        (remove)="remove.emit($event)"
        (status)="status.emit($event)"
        (edit)="openEditDialog($event)">
      </todo-tab>
    </mat-tab>

    <mat-tab label="In Progress">
      <todo-tab *ngFor="let todo of todos | todos: statusEnum.InProgress"
        [todo]="todo"
        [noTodosFound]="(todos | todos : statusEnum.InProgress)?.length === 0"
        [noTodosCaption]="'No todos in progress'"
        (remove)="remove.emit($event)"
        (status)="status.emit($event)"
        (edit)="openEditDialog($event)">
      </todo-tab>
    </mat-tab>

    <mat-tab label="Completed">
      <todo-tab *ngFor="let todo of todos | todos: statusEnum.Complete"
        [todo]="todo"
        [noTodosFound]="(todos | todos : statusEnum.Complete)?.length === 0"
        [noTodosCaption]="'No completed todos'"
        (remove)="remove.emit($event)"
        (status)="status.emit($event)"
        (edit)="openEditDialog($event)">
      </todo-tab>
    </mat-tab>
  </mat-tab-group>
</div>