
<div class="edit-todo-dialog-main">
    <h1 mat-dialog-title>Edit ToDo</h1>
    <div mat-dialog-content>
      <form #form="ngForm" [formGroup]="todoForm" (ngSubmit)="todoForm.valid && done()">
        <mat-form-field>
          <mat-label>New ToDo name</mat-label>
          <input matInput name="name" formControlName="name" [(ngModel)]="todo.name">
        </mat-form-field>

        <button type="submit" #submitter hidden></button>
      </form>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button (click)="submitter.click()">Ok</button>
    </div>
</div>
